<div class="register-form">
    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate autocomplete="off">
      <!-- Email Field Start -->
      <div class="form-group">
          <label style="margin-bottom: 0.5rem;">Email *</label>
          <input type="email" id ="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && email.errors }" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
              autocomplete="off" />
          <div *ngIf="f.submitted && email.errors" class="invalid-feedback">
              <div *ngIf="email.errors['required']">Email fields are required</div>
              <div *ngIf="email.errors['pattern']">Email is invalid</div>
          </div>
      </div>
      <!-- Email Field End -->

      <!-- Password Field Start -->
      <div class="form-group" style="margin-top: 1rem;">
          <label style="margin-bottom: 0.5rem;">Password *</label>
          <input type="password" id="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" maxlength="10" #password="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
              autocomplete="off" />
          <div *ngIf="f.submitted && password.errors" class="invalid-feedback">
              <div *ngIf="password.errors['required']">password fields are required</div>
          </div>
      </div>
      <!-- Password Field End -->

      <!-- Login Field Start -->
      <div class="form-group">
          <button type="submit" class="btn btn-primary" style="margin-top: 1rem;">Login</button>
      </div>
      <!-- Login Field End -->

      <!-- Success Message -->
      <div *ngIf="loginSuccess" class="alert alert-success" style="margin-top: 1rem;">
          Successfully logged in
      </div>
    </form>
</div>

